/* Thanks For Using G's Library */

/* Sans Serif Fonts */
  
  /* Onest Font */
  /* font-family: 'Onest', sans-serif; */
  @import url('https://fonts.googleapis.com/css2?family=Onest:wght@300');
  
  /* Rubik Font */
  /* font-family: 'Rubik', sans-serif; */
  @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

  /* Ubuntu Font */
  /* font-family: 'Ubuntu', sans-serif; */
  @import url('family=Ubuntu:wght@400;500;700&display=swap');

  /* Lato Font */
  /* font-family: 'Lato', sans-serif; */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* 
    Bulk Fonts
    font-family: 'Anton', sans-serif;
    font-family: 'Nosifer', sans-serif;
    font-family: 'Oswald', sans-serif; 
*/
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Nosifer&family=Oswald:wght@400;700&display=swap');